body {
  color: black;
  background-color: rgba(210, 187, 124, 0.8);
}

header {
  font-size: 4em;
  font-weight: bold;
  margin: 20px;
  width: auto;
}

.buttons {
  outline: thin black solid;
  background-image: image('./img/salmon.png');
  height: 50px;
  width: 100px;
  font-size: 16pt;
  background-color: #36342b;
  color: #d0c9c2;
}

header img {
  height: 30px;
}

nav {
  outline: thin solid red;
}
