body {
  color: black;
  background-color: rgba(210, 187, 124, 0.8);
}

header {
  font-size: 2em;
  font-weight: bold;
  margin: 20px;
}

table,
td,
th {
  border: thin dotted black;
  /* border-collapse: collapse; */
  padding: 5px;
  text-align: center;
}

th,
thead,
tfoot {
  background-color: #bc4c34;
  color: #d0c9c2;
}

td {
  background-color: #d0c9c2;
}

form {
  padding: 15px;
  outline: thin black solid;
}

input {
  height: 10px;
  width: 100px;
  padding: 10px;
}

button {
  height: auto;
  width: auto;
  background-color: #36342b;
  color: #d0c9c2;
}

header img {
  height: 30px;
}
